.skeleton-box{
  width: 150px;
  height: 150px;
  background-color: #2f2d2d;
}





  /* just for testing skeleton */
/* .skeleton-box {
  width: 150px;
  height: 150px;
  background: linear-gradient(
    90deg,
    #2f2d2d 25%,
    #3a3a3a 37%,
    #2f2d2d 63%
  ); */
  /* background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
} */