.student-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 10px;
}

.student-card {
    background: #1e1e1e;
    padding: 14px;
    border-radius: 10px;
    color: aliceblue;
    transition: background 0.2s;
    box-shadow: 0 4px 12px rgba(57, 55, 55, 0.4);
}

.student-card:hover {
    background: #2a2a2a;
    box-shadow: 0 4px 12px rgba(169, 68, 68, 0.4);
}

.status {
    margin-left: 10px;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.status.pass {
    background: #22c55e;
    color: black;
}

.status.fail {
    background: #ef4444;
    color: white;
}

.student-card button {
    margin-top: 8px;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

.student-card button:hover {
    background: #1d4ed8;
}