.students-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.student-card {
  background: #020617;
  padding: 14px;
  border-radius: 10px;
  color: aliceblue;
  transition: all 0.2s;
  box-shadow: 0 4px 12px #39373766;
}

.student-card:hover {
  box-shadow: 0 4px 12px #a9444466;
  transform: scale(1.05);
}
.status {
  margin-left: 10px;
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 12px;
}
.student-card button {
  margin-top: 8px;
  width: 100%;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: #bcc6d4;
  cursor: pointer;
  transition: all 0.2s;
}

.student-card button:hover {
  background: #bcc6d4;
  color: #2563eb;
}